html 
  head 
    title Motores de Plantillas - Productos
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
  body.vh-100.container.d-flex.justify-content-center.align-items-center  
    main.w-100 
      div.d-flex.justify-content-between.align-items-center.mb-5
        h1 Vista de Productos
        a(href="/" class="btn btn-primary") Ver formulario
      div.border.p-5.rounded
        include ../partials/table.pug
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")